@page "/"
@inject IJSRuntime js
<div id="maincont">

    <div id="bandeaux">
        <h1>LOUEZ une maison <br /> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp à la Réunion en 3clics</h1>
        <div /><div /><div />
    </div>

    <div id="pretext">
        <div>
            <Pretext />
        </div>
    </div>

    <div id="photos">
        <div>
            <Photos />
        </div>
    </div>
    <div id="hlp">
        <div id="pannleg" style="width:30vw; height:auto; padding-bottom:3vw; padding-top:2vw; border:solid 1px; border-radius:5px; backdrop-filter: blur(3px); box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);">

            <div style="font-weight:bold;font-size:1.2rem;text-align:center;color:black;transform:translateY(-50%)">
                HELP
            </div>
            <div style="font-size:1rem;margin: 0 1rem">&nbsp Cliquez sur un jour du calendrier pour sélectionner ou déselectionner une date.</div>
            <br />
            @{
                var ldt1 = DateTime.Now.Date;
                var ls1 = new bool?[2] { false, false };
            }
            <div id="hlp1" style="width:5vw; height:5vw; ">
                <Element DateTime="@ldt1" UnSelectable="true" Selected="null" Seasons="@ls1" />
                <span> désigne le jour actuel</span>
            </div>
            @{
                var ldt2 = new DateTime(2022, 11, 02);
                var ls2 = new bool?[2] { false, false };
            }
            <div id="hlp1" style="width:5vw; height:5vw; ">
                <Element DateTime="@ldt2" UnSelectable="true" Selected="null" Seasons="@ls2" />
                <span> désigne un jour non disponible</span>
            </div>
            @{
                var ldt3 = new DateTime(2022, 11, 07);
                var ls3 = new bool?[2] { false, false };
            }
            <div id="hlp1" style="width:5vw; height:5vw; ">
                <Element DateTime="@ldt3" UnSelectable="false" Selected="null" Seasons="@ls3" />
                <span> désigne un jour disponible</span>
            </div>
            @{
                var ldt4 = new DateTime(2022, 11, 19);
                var ls4 = new bool?[2] { false, false };
            }
            <div id="hlp1" style="width:5vw; height:5vw; ">
                <Element DateTime="@ldt4" UnSelectable="false" Selected="true" Seasons="@ls4" />
                <span> désigne un jour selectionné</span>
            </div>
            @{
                var ldt5 = new DateTime(2022, 11, 22);
                var ls5 = new bool?[2] { true, false };
            }
            <div id="hlp1" style="width:5vw; height:5vw;">
                <Element DateTime="@ldt5" UnSelectable="false" Selected="null" Seasons="@ls5" />
                <span> désigne un jour au tarif moyenne saison</span>
            </div>
            @{
                var ldt6 = new DateTime(2022, 11, 22);
                var ls6 = new bool?[2] { false, true };
            }
            <div id="hlp1" style="width:5vw; height:5vw; ">
                <Element DateTime="@ldt6" UnSelectable="false" Selected="null" Seasons="@ls6" />
                <span> désigne un jour au tarif haute saison</span>
            </div>
            <div id="hlp1" style="">
                <svg data-src="/svg/tri.svg"
                     id="mytrinext"
                     data-js="enabled"
                     data-unique-ids="disabled"
                     style="width:3vw;height:3vw;filter: drop-shadow(2px 2px 1.3px black)"></svg>
                <span>passage au mois suivant</span>

            </div>
            <div id="hlp1" style="">

                <svg data-src="/svg/call.svg"
                     style="width:3vw;height:3vw;filter: drop-shadow(2px 2px 1.3px black)"></svg>
                <span> suppression de toute les périodes selectionnées</span>

            </div>

        </div>
    </div>
    <div id="payment">
        <span>Nous travaillons avec les moyens de paiements suivants, veuillez nous contacter si vous n'y etes pas affilié.</span>
        <div>
             <a target="_blank" href="https://www.paylib.fr">
            <img href="https://www.paylib.fr" src="/item/paylib.svg" />
              </a>
        </div>
        <div>
            <a target="_blank" href="https://www.lyf.eu/fr/">
                <img src="/item/lyf.png" />
                </a>

        </div>
        <div>


            <span>
                Paylib ou lyf sont deux applications de virement intégreés nativement
                à l'application officielle de la <em> majorité des grandes banques françaises et européennes.</em> <span>
                    " Il suffit de chercher l'onglet paylib ou lyf, renseigner le
                    montant et adresser le transfert grâce à un simple numéro de téléphone! "
                </span>
            </span>
        </div>

    </div>
    <div id="agenda">
        <div>
            <Agenda @bind-Selected="@Selected" @bind-Seasons="@Seasons" @bind-Prices="@Prices" />
        </div>
    </div>

    <div id="reserv">
        <div>
            <Reserv @bind-Selected="@Selected" Seasons="@Seasons" Prices="@Prices" />
        </div>
    </div>

</div>




@*<div id="textebas">
    « C’est sidérant, et c’était totalement inconcevable jusqu’à la semaine dernière », réagit Gaétan Heymes, météorologue à Météo-France. Le scientifique, qui a passé un an en Antarctique, compare l’amplitude du phénomène à celle du dôme de chaleur qui avait touché le nord-ouest du continent américain en juin 2020, avec près de 50 °C au Canada. « Cet événement totalement inédit change définitivement ce que nous pensions être possible en matière de climat antarctique », abonde Jonathan Wille, chercheur post-doctorant étudiant la météorologie polaire à l’Institut des géosciences de l’environnement, à Grenoble.

    Il faut s’imaginer un instant l’intérieur du continent blanc battu par des vents glacés, à plus de 3 000 mètres d’altitude, où les températures oscillent entre – 50 °C et – 55 °C à cette période de l’année. Le 18 mars, elles ont atteint – 11,5 °C sur la base scientifique franco-italienne Concordia et – 17,7 °C sur la base russe Vostok. De quoi battre très largement (de 15 °C) les précédents records pour le mois de mars ; mais il s’agit également du maximum jamais enregistré, toutes saisons confondues, à Concordia.
</div>*@

@code {

    [Parameter]
    public HashSet<DateTime> Selected { get; set; } = new();
    
    [Parameter]
    public HashSet<DateTime>[] Seasons { get; set; } = new HashSet<DateTime>[2] { new(), new() };

    [Parameter]
    public int[] Prices { get; set; } = new int[4];
}
