@page "/"
@inject IJSRuntime js
@inject MyEvents myevents
@using Kioxk.Client.Pages

<img id="land" src="item/midrun.png" />
@*<svg id="land" data-src="/item/landp.svg"></svg>*@
<div id="header">
    <div>
        <div id="lambcont">
            @for (int i = 0; i < b; i++)
            {
                <Lamb />
            }

        </div>
        <div id="louCont">
            <h1> Le Chalet des Marmottes <br /> <em>La Plaine des Cafres - Ile de la Réunion</em></h1>
        </div>


    </div>

    <div id="contact">
        <div>
            <div tabindex="0">
                <div>
                    <img src="/item/tel.png" />
                </div>
                <div>
                    <span>0692121212</span>
                </div>

            </div>

            <div tabindex="0">
                <div>
                    <span>location@gmail.com</span>
                </div>
                <div>
                    <img src="/item/mail.png" />
                </div>

            </div>
        </div>
    </div>

</div>

<div id="footer" />

<svg id="go" data-src="/item/Go.svg" onclick="myscrollTo('photos')"> Go </svg>
@*<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | chalet</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">
  </head>
  <body>*@
    <div id="unity-container" class="unity-desktop" style="display:none">
      <canvas id="unity-canvas" width=960 height=600></canvas>
      <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
          <div id="unity-progress-bar-full"></div>
        </div>
      </div>
      <div id="unity-warning"> </div>
      <div id="unity-footer">
        <div id="unity-webgl-logo"></div>
        <div id="unity-fullscreen-button"></div>
        <div id="unity-build-title">chalet</div>
      </div>
    </div>
   
    
  



@*<div id="unity-container" class="unity-desktop" style="width:400px;height:400px; background-color:rgba(0,0,0,.7);">
    <canvas id="canvas" style="width:300px;height:300px; background-color:rgba(0,100,0,.7);"></canvas>

</div>*@
@*<div id="unity-container" class="unity-desktop">
      <canvas id="unity-canvas" width=960 height=600></canvas>
      </div>*@
@*<img id="chal" src="/item/chal.png"/>*@
<div id="reseaux">
    <div id="fb">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=799399298"> 
        <img src="/item/fb.png"  />    
        </a>
    </div> 
</div>

<div id="maincont">
    <div id="ph_pre_cont">
        <div id="photos">
            <div>
                <Photos />

            </div>
        </div>

        <div id="pretext">
            <div>
                <Pretext />

            </div>

        </div>
    </div>

    <div id="hlp_ag_cont">
        <div id="hlp">
            <div>
                <Help />

            </div>
        </div>

        <div id="agenda" style="--agenda_pointer-event:@pnter">
            <Agenda @bind-Selected="@Selected" @bind-Seasons="@Seasons" @bind-Prices="@Prices" />

        </div>
    </div>

    <div id="payment">
        <Paiement />

    </div>

    <div id="reserv">
        <div>
            <Reserv @bind-Selected="@Selected" Seasons="@Seasons" Prices="@Prices" />

        </div>
    </div>
</div>

@code {
    [Parameter]
    public HashSet<DateTime>? Selected { get; set; }
    [Parameter]
    public HashSet<DateTime>[] Seasons { get; set; } = new HashSet<DateTime>[2] { new(), new() };
    [Parameter]
    public int[] Prices { get; set; } = new int[4];

    private const string CanvasId = "unity-canvas";
    private const string LoaderJsPath = "Build/Desktop.loader.js";
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("lamb", DotNetObjectReference.Create(this));
        if (firstRender)
        {
            try
            {
                await js.InvokeAsync<object>("uni");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error loading Unity: {ex.Message}");
            }
        }
    }

    int b;
    [JSInvokable]
    public void CSharpLamb(int ce)
    {
        b = 0;
        StateHasChanged();
        b = ce;
        StateHasChanged();
    }

    string? pnter;
    bool tog_pnter = true;

    protected override void OnInitialized()
    {
        StateHasChanged();

        myevents.MyPointer += () =>
        {
            if (tog_pnter)
            {
                tog_pnter = false;
                pnter = "none";
                StateHasChanged();
            }
            else
            {
                tog_pnter = true;
                pnter = "initial";
                StateHasChanged();
            }
        };
    }

}
