@page "/"
@inject IJSRuntime js

<div id="header">
    <div>
        <h1>LOUEZ une maison <br /> <em>à la Réunion en 3clics</em></h1>
    </div>

    <div id="contact">
        <div>
            <div tabindex="0">
                <div>
                    <img src="/item/tel.png" />
                </div>
                <div>
                    <span>0692121212</span>
                </div>

            </div>

            <div tabindex="0">
                <div>
                    <span>location@gmail.com</span>
                </div>
                <div>
                    <img src="/item/mail.png" />
                </div>

            </div>
        </div>
    </div>

</div>

<div id="footer" />

<div id="maincont">

    <div id="pretext">
        <div>
            <Pretext />

        </div>
    </div>

    <div id="photos">
        <div id="ideee">
            <Photos />

        </div>
    </div>

    <div id="hlp">
        <div>
            <Help />

        </div>
    </div>

    <div id="payment">
        <Paiement />

    </div>

    <div id="agenda">
        <div>
            <Agenda @bind-Selected="@Selected" @bind-Seasons="@Seasons" @bind-Prices="@Prices" />

        </div>
    </div>

    <div id="reserv">
        <div>
            <Reserv @bind-Selected="@Selected" Seasons="@Seasons" Prices="@Prices" />

        </div>
    </div>
</div>

@code {

    [Parameter]
    public HashSet<DateTime> Selected { get; set; } = new();
    [Parameter]
    public HashSet<DateTime>[] Seasons { get; set; } = new HashSet<DateTime>[2] { new(), new() };
    [Parameter]
    public int[] Prices { get; set; } = new int[4];

}
